@use "variables" as v;
@use "typography" as t;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: v.$dark-green;
  overflow-x: hidden;
}

h2 {
  background-color: v.$midnight-green;
  color: v.$white;
  font: 100% t.$font-stack;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.container {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}
header {
  background-color: v.$midnight-green;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 25px 40px 25px;

  &__logo {
    display: flex;
    align-items: center;
    gap: 30px;
    ul {
      display: flex;
      gap: 30px;
      li {
        a {
          font-family: t.$font-stack;
          color: v.$white;
          font-weight: 600;
        }
      }
    }
    img {
      width: 8rem;
    }
  }
  &__menu {
    nav {
      img {
        width: 20px;
        height: 17px;
      }
    }
  }
  div {
    &:last-child {
      a {
        font-family: t.$font-stack;
        color: v.$white;
        border: 1px solid v.$white;
        padding: 5px 20px;
        border-radius: 30px;
      }
    }
  }
}
.director-section {
  background-color: v.$deep-jungle-green;
  padding-top: 140px;
  padding-bottom: 153px;
  position: relative;
  &__shape {
    position: absolute;
    right: 0;
    padding-top: 50px;
    &--left {
      position: absolute;
      left: 0;
      top: 0;
      img {
        width: 100px;
      }
    }
  }
  h2 {
    background-color: v.$deep-jungle-green;
    text-align: center;
    font-size: 2rem;
    font-family: t.$font-stack;
    font-weight: bold;
    padding-bottom: 50px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    position: relative;
    li {
      background-color: v.$sacramento-state-green;
      display: grid;
      justify-content: center;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        margin-bottom: 50px;
      }
      h3 {
        font-family: t.$font-stack;
        color: v.$rapture-blue;
        font-size: 1rem;
        padding-bottom: 40px;
      }
      & > img {
        display: inline-block;
        width: 96px;
        height: auto;
        border-radius: 50%;
        margin: 0 auto;
        padding: 15px 0 10px 0;
      }
      div {
        position: relative;
        background-color: v.$light-coral;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56px;
        width: 56px;
        margin: 0 auto;
        top: 25px;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
.about-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 25px 150px 25px;
  div {
    p,
    h1 {
      font-family: t.$font-stack;
      color: v.$white;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      line-height: 1.7;
      padding-right: 30px;
    }
  }
  &__shape {
    position: absolute;
    right: 0;
    margin-top: -50px;
    img {
      width: 100px;
    }
    &--line {
      width: 60px;
      height: 5px;
      background-color: v.$light-coral;
      margin-bottom: 50px;
    }
  }
}

.h_content {
  text-align: center;
  font: 100% t.$font-stack;
  background-color: v.$midnight-green;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-top: 50px;
  position: relative;
  &__shape {
    position: absolute;
    left: -100px;
    img {
      width: 200px;
      height: auto;
    }
  }
  &__line {
    position: relative;
    height: 3px;
    width: 28px;
    background-color: v.$rapture-blue;
    margin-bottom: 50px;
    margin-left: 15px;
  }
  h1 {
    font-size: 3.7rem;
    font-weight: bold;
    color: v.$white;
    padding: 0 40px;
    line-height: 60px;
    padding-top: 20px;
    text-align: left;
  }
  span {
    color: v.$light-coral;
  }
  p {
    color: v.$white;
    font-size: 1rem;
    line-height: 24px;
    padding: 0 15px;
    margin-top: 20px;
    font-weight: normal;
  }
  img {
    text-align: center;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 80px;
  }
  div {
    p {
      text-align: left;
      margin-bottom: 40px;
    }
  }
}

.main {
  background-color: v.$sacramento-state-green;
  padding-bottom: 30px;

  &__desc {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  &__line {
    position: absolute;
    height: 3px;
    width: 32px;
    margin-top: 30px;
    background-color: v.$light-coral;
  }
  &__title {
    grid-column: span 4 / span 4;
    padding-top: 20px;
    padding-right: 28px;
    margin: 30px 0;
    font-size: 1.75rem;
    font-weight: bold;
  }
  h2 {
    background-color: inherit;
    font-weight: bold;
  }
  &__pattern {
    position: absolute;
    right: 0;
    p,
    h3 {
      z-index: 1;
    }
    img {
      position: relative;
    }
  }
  &__featured {
    h3 {
      color: v.$light-coral;
      text-align: center;
      padding: 5px 0;
      font-family: t.$font-stack;
    }
  }
  &__card {
    margin-bottom: 48px;
  }
  &__icon {
    display: flex;
    justify-content: center;
  }
  p {
    color: v.$white;
    font-family: t.$font-stack;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
    font-size: 0.9375rem;
  }
}

.testimonial {
  background: v.$deep-jungle-green;

  &__shape {
    width: 147px;
    height: 100px;
  }
  &__quote {
    display: block;
    position: relative;
    top: 20px;
    z-index: 1;
    margin: 30px auto 0 auto;
  }
  h2 {
    background: inherit;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
    padding: 30px 20px;
  }
  blockquote {
    color: v.$rapture-blue;
  }
  p,
  h4 {
    text-align: center;
    color: v.$white;
    font-family: t.$font-stack;
  }
  h4 {
    color: v.$rapture-blue;
  }
  p {
    position: relative;
    padding: 0 20px;
    z-index: 9999;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    margin: 0 50px;
    h4 {
      padding: 20px 0;
    }
  }
  &__avatar {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #c4fffe;
    margin: 5px auto;
  }
  &__pattern {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
  }
}

.getstarted {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  background-color: v.$light-coral;
  text-align: center;
  padding-top: 40px;
  position: relative;
  h2 {
    position: relative;
    top: 20px;
    font-size: 32px;
    background-color: inherit;
    padding: 0 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: v.$sacramento-state-green;
  }
  a {
    position: relative;
    top: 20px;
    border: 2px solid v.$sacramento-state-green;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: t.$font-stack;
    font-weight: bold;
    color: v.$sacramento-state-green;
  }
  img {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
}
.footer {
  position: relative;
  background: v.$dark-green;
  text-align: center;
  top: -22px;
  padding: 50px;
  color: v.$white;
  font-family: t.$font-stack;
  img {
    width: 96px;
  }
  &__nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    a {
      color: inherit;
      text-align: center;
      font-weight: bold;
    }
  }
  p {
    text-align: center;
  }
  &__info {
    line-height: 1.5rem;
  }
  &__links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.hide-for-desktop {
  display: none;
}

@media (min-width: 1440px) {
  html {
    font-size: 18px;
  }

  .main {
    position: relative;
    &__container {
      display: flex;
      max-width: 1110px;
      margin: 0 auto;
      padding-top: 90px;
    }
    &__pattern {
      position: absolute;
      right: 0;

      bottom: 0;
    }
    &__title {
      h2 {
        font-size: 2.25rem;
      }
    }
    &__icon {
      img {
        width: 72px;
        height: 72px;
      }
    }
    &__card {
      display: flex;
      margin-bottom: 30px;
      div {
        padding-right: 20px;
        p,
        h3 {
          text-align: left;
        }
        h3 {
          padding-left: 10px;
          padding-bottom: 20px;
        }
      }
    }
  }
  .testimonial {
    &__cards {
      display: flex;
      gap: 20px;
    }
  }
  .getstarted {
    h2 {
      margin-bottom: 0;
    }
    div {
      div {
        &:first-child {
          display: flex;
          justify-content: space-between;
          padding: 0 150px;
          h2 {
            font-size: 2rem;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    &__logo {
      img {
        width: 160px;
        height: 40px;
      }
    }
    &__links {
      justify-content: flex-end;
      position: relative;
      bottom: 45px;
    }
    &__info {
      text-align: left;
      color: #ffffff80;
    }
    &__copyright {
      color: #ffffff80;
    }
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .header {
    display: flex;
  }
  .getstarted {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-header {
    grid-template-columns: 1fr;
    &__shape {
      &--line {
        display: none;
      }
    }
    div {
      text-align: center;
      h1 {
        padding-bottom: 15px;
      }
      p {
        padding-inline: 100px;
      }
    }
  }
  .hide-for-mobile {
    display: none;
  }
  .h_content {
    h1 {
      font-size: 56px;
      text-align: center !important;
    }
    &__shape {
      display: none;
    }
    &__line {
      display: none;
    }
    p {
      text-align: center !important;
    }
  }
  .main {
    & > div {
      padding: 0 40px;
    }
    &__card {
      display: flex;
      gap: 20px;
    }
    p,
    h3 {
      text-align: left;
    }
  }
  .testimonial {
    h2 {
      padding: 0 50px;
    }
    &__cards {
      display: block;
    }
  }
}

@media (max-width: 475px) {
  .h_content {
    padding: 0;
    margin: 0;
    p {
      margin: 0;
    }
    h1 {
      font-size: 40px;
      margin: 0;
    }
  }
  .main {
    &__card {
      display: block;
    }
    p,
    h3 {
      text-align: center;
    }
  }
  .testimonial {
    p {
      padding: 0;
    }
  }
  .about-header {
    div {
      p {
        padding-inline: 10px;
      }
    }
  }
  .director-section {
    .container {
      display: grid;
      justify-content: center;
    }
  }
}
