@use "variables" as v;
@use "typography" as t;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: v.$dark-green;
}

h2 {
  background-color: v.$midnight-green;
  color: v.$white;
  font: 100% t.$font-stack;
}
li,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$midnight-green;
  padding: 40px 25px 40px 25px;

  &__logo {
    img {
      width: 8rem;
    }
  }
  &__menu {
    nav {
      img {
        width: 20px;
        height: 17px;
      }
    }
  }
}
.h_content {
  text-align: center;
  font: 100% t.$font-stack;
  background-color: v.$midnight-green;
  h1 {
    font-size: 2.55rem;
    font-weight: bold;
    color: v.$white;
    padding: 0 40px;
    line-height: 40px;
    padding-top: 20px;
  }
  span {
    color: v.$light-coral;
  }
  p {
    color: v.$white;
    font-size: 0.9375rem;
    line-height: 24px;
    padding: 0 15px;
    margin-top: 20px;
    font-weight: normal;
  }
  img {
    text-align: center;
    max-width: 100%;
    padding: 0 10px;
    margin-top: 80px;
  }
}

.main {
  background-color: v.$sacramento-state-green;
  padding-bottom: 30px;
  &__desc {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  &__title {
    grid-column: span 4 / span 4;
    padding: 30px;
    margin: 30px 0;
    font-size: 1.75rem;
    font-weight: bold;
  }
  h2 {
    background-color: inherit;
    font-weight: bold;
  }
  &__pattern {
    p,
    h3 {
      z-index: 1;
    }
    img {
      position: relative;
    }
  }
  &__featured {
    h3 {
      color: v.$light-coral;
      text-align: center;
      padding: 5px 0;
      font-family: t.$font-stack;
    }
  }
  &__card {
    margin-bottom: 48px;
  }
  &__icon {
    display: flex;
    justify-content: center;
  }
  p {
    color: v.$white;
    font-family: t.$font-stack;
    line-height: 1.5;
    text-align: center;
    padding: 0 10px;
    font-size: 0.9375rem;
  }
}

.testimonial {
  background: v.$deep-jungle-green;

  &__shape {
    width: 147px;
    height: 100px;
  }
  &__quote {
    display: block;
    position: relative;
    top: 20px;
    z-index: 1;
    margin: 30px auto 0 auto;
  }
  h2 {
    background: inherit;
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
    padding: 30px 20px;
  }
  blockquote {
    color: v.$rapture-blue;
  }
  p,
  h4 {
    text-align: center;
    color: v.$white;
    font-family: t.$font-stack;
  }
  h4 {
    color: v.$rapture-blue;
  }
  p {
    position: relative;
    padding: 0 20px;
    z-index: 9999;
  }
  &__cards {
    h4 {
      padding: 20px 0;
    }
  }
  &__avatar {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 2px solid #c4fffe;
    margin: 5px auto;
  }
  &__pattern {
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
  }
}

.getstarted {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$light-coral;
  text-align: center;
  padding-top: 40px;
  h2 {
    position: relative;
    top: 20px;
    font-size: 32px;
    background-color: inherit;
    padding: 0 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: v.$sacramento-state-green;
  }
  a {
    position: relative;
    top: 20px;
    border: 2px solid v.$sacramento-state-green;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: t.$font-stack;
    font-weight: bold;
    color: v.$sacramento-state-green;
  }
  img {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
}
.footer {
  position: relative;
  background: v.$dark-green;
  text-align: center;
  top: -22px;
  padding: 50px;
  color: v.$white;
  font-family: t.$font-stack;
  img {
    width: 96px;
  }
  &__nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
    a {
      color: inherit;
      text-align: center;
      font-weight: bold;
    }
  }
  p {
    text-align: center;
  }
  &__info {
    line-height: 1.5rem;
  }
  &__links {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
// @include breakpoint(large) {
// }
